<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334759211090-dj6p4vcjjg9g58op3mo8sj37fmdrg2he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334759211090-dj6p4vcjjg9g58op3mo8sj37fmdrg2he</string>
	<key>API_KEY</key>
	<string>AIzaSyB0MpxKyUmcG8zwYeKYbbiT45vZCsRGN6o</string>
	<key>GCM_SENDER_ID</key>
	<string>334759211090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingCar</string>
	<key>PROJECT_ID</key>
	<string>shopping-car-d5ed6</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-car-d5ed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334759211090:ios:4f87892cb5aea4ee21ef8b</string>
</dict>
</plist>